* binary

*.js diff merge=text

*.htm diff merge=text

*.html diff merge=text

*.css diff merge=text

*.txt diff merge=text

*.json diff merge=text

*.py diff merge=text

*.so diff merge=text

*.sh diff merge=text

*.yml diff merge=text

*.md diff merge=text

