[Unit]
Description=MyBot Interface Service
After=apsta.service

[Service]
Type=simple
WorkingDirectory=/usr/Fusion/FusionServer/Build
ExecStart=node /usr/Fusion/FusionServer/Build/server.js
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=sysinit.target