[Unit]
Description=Detects power down sequence and notifies board
DefaultDependencies=no
After=multi-user.target
Before=poweroff.target
Conflicts=poweroff.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=python -u -B -c "from Display import RecruitLCD; lcd = RecruitLCD(); lcd.show_end_screen()"
ExecStop=sleep 3
ExecStop=transmit_to_board "Power down"

[Install]
WantedBy=multi-user.target