[Unit]
Description=Detects restart sequence and notifies board
DefaultDependencies=no
After=multi-user.target
Before=reboot.target
Conflicts=reboot.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=python -u -B -c "import Display; Display.show_end_screen()"
ExecStop=transmit_to_board "Restarting system"

[Install]
WantedBy=multi-user.target