[Unit]
Description=Service that starts the MyBot splash screen
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=python -u -B -c "import Display; Display.show_splash_screen()"

[Install]
WantedBy=sysinit.target
