[Unit]
Description=Service that starts the MyBot splash screen
Before=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
WorkingDirectory=/usr/Fusion/config/splashscreen
ExecStart=python /usr/Fusion/config/splashscreen/startSplashScreen.py

[Install]
WantedBy=sysinit.target
