[Unit]
Description=Syncs the MyBot board to the serial login
After=serial-getty@ttyS0.service

[Service]
Type=simple
ExecStart=syncSerial

[Install]
WantedBy=multi-user.target
