<div flex="20" layout-padding class="fusion-home-logo-container">
    <img class="fusion-home-logo" src="/assets/img/logo/Boxlight_Product_Logo_RGB.png">
</div>

<div layout="column">
    <div flex style="overflow-y:auto;" layout="row" layout-wrap layout-align="space-around center">

        <md-card flex-xs="100" flex-sm="45" flex-gt-sm="30" ng-class="HomePageShortCutDisabled('build')">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" translate="HOME.BUILD_HEADLINE">Build</span>
                    <span class="md-subhead" translate="HOME.BUILD_DESCRIPTION">Instructions for building a MyBot kit.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img ng-src="/assets/img/home/nuts and screws.png" class="md-card-image md-media-sm">
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="LinkClicked('assets/docs/fusion/Robot_Building_Topic/', '_blank')" translate="HOME.READ_BUTTON">Read</md-button>
            </md-card-actions>
        </md-card>

        <md-card flex-xs="100" flex-sm="45" flex-gt-sm="30" ng-class="HomePageShortCutDisabled('blockly')">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" translate="HOME.BLOCKLY_HEADLINE">Blockly</span>
                    <span class="md-subhead" translate="HOME.BLOCKLY_DESCRIPTION">Block based programming language.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img ng-src="/assets/img/home/ProgramBlocklyDrive.PNG" class="md-card-image md-media-sm">
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="LinkClicked('assets/docs/fusion/Blockly_Topic/', '_blank')" translate="HOME.READ_BUTTON">Read</md-button>
                <md-button class="md-primary md-raised" ng-click="Launch('blockly')" translate="HOME.LAUNCH_BUTTON">Launch</md-button>
            </md-card-actions>
        </md-card>

        <md-card flex-xs="100" flex-sm="45" flex-gt-sm="30" ng-class="HomePageShortCutDisabled('editor')">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" translate="HOME.EDITOR_HEADLINE">Editor</span>
                    <span class="md-subhead" translate="HOME.EDITOR_DESCRIPTION">Simple python programming environment.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img ng-src="/assets/img/home/ProgramPythonDrive.PNG" class="md-card-image md-media-sm">
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="LinkClicked('assets/docs/fusion/Editor_Topic/', '_blank')" translate="HOME.READ_BUTTON">Read</md-button>
                <md-button class="md-primary md-raised" ng-click="Launch('editor')" translate="HOME.LAUNCH_BUTTON">Launch</md-button>
            </md-card-actions>
        </md-card>

        <md-card flex-xs="100" flex-sm="45" flex-gt-sm="30" ng-class="HomePageShortCutDisabled('docs')">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" translate="HOME.DOCUMENTATION_HEADLINE">Fusion Documentation</span>
                    <span class="md-subhead" translate="HOME.DOCUMENTATION_DESCRIPTION">Full Fusion documentation and reference materials.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img ng-src="/assets/img/home/magnifier-311216_960_720.png" class="md-card-image md-media-sm">
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="LinkClicked('assets/docs/fusion/', '_blank')" translate="HOME.READ_BUTTON">Read</md-button>
            </md-card-actions>
        </md-card>

        <md-card flex-xs="100" flex-sm="45" flex-gt-sm="30" ng-class="HomePageShortCutDisabled('datalogger')">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" translate="HOME.DATA_LOGGER_HEADLINE">Data Logging</span>
                    <span class="md-subhead" translate="HOME.DATA_LOGGER_DESCRIPTION">Collect and log data using sensors.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img ng-src="/assets/img/home/graph.png" class="md-card-image md-media-sm">
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="Launch('datalogger')" translate="HOME.LAUNCH_BUTTON">Launch</md-button>
            </md-card-actions>
        </md-card>

        <md-card flex-xs="100" flex-sm="45" flex-gt-sm="30" ng-class="HomePageShortCutDisabled('settings')">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" translate="HOME.SETTINGS_HEADLINE">Settings</span>
                    <span class="md-subhead" translate="HOME.SETTINGS_DESCRIPTION">Change your Fusion's settings.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img ng-src="/assets/img/home/setting-sliders.png" class="md-card-image md-media-sm">
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="Launch('settings')" translate="HOME.LAUNCH_BUTTON">Launch</md-button>
            </md-card-actions>
        </md-card>

        <md-card flex-xs="100" flex-sm="45" flex-gt-sm="30" ng-class="HomePageShortCutDisabled('docs')">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" translate="HOME.BLOCKLY_GAMES_HEADLINE">Blockly Games</span>
                    <span class="md-subhead" translate="HOME.BLOCKLY_GAMES_DESCRIPTION">A series of educational games that teach programming.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img ng-src="/assets/img/home/blockly-games.png" class="md-card-image md-media-sm">
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="LinkClicked('assets/docs/blockly-games/', '_blank')" translate="HOME.LAUNCH_BUTTON">Launch</md-button>
            </md-card-actions>
        </md-card>

    </div>

</div>
