<div layout="column">

    <form name="form" role="form" ng-submit="updateAccount()">

        <md-content layout="row" layout-wrap layout-align="center" class="fusion-account-container" md-whiteframe="4" layout-padding>

            <div flex-xs="100" flex-gt-xs="50" layout="column" style="border:1px solid lightgray;">
                
                <div style="text-align: center">
                    <h3 translate="ACCOUNT.USER_FIELDS_TITLE"></h3>
                </div>

                <md-input-container class="fusion-account-input">
                    <label translate="ACCOUNT.USERNAME"></label>
                    <input name="UserName" type="text" ng-model="user.username" disabled/>
                </md-input-container>
                
                <md-input-container class="fusion-account-input">
                    <label translate="ACCOUNT.EMAIL"></label>
                    <input type="email" ng-model="user.email"/>
                </md-input-container>
                
                <md-input-container class="fusion-account-input">
                    <label translate="ACCOUNT.FIRST_NAME"></label>
                    <input type="text" ng-model="user.firstname" />
                </md-input-container>

                <md-input-container class="fusion-account-input">
                    <label translate="ACCOUNT.LAST_NAME"></label>
                    <input type="text" ng-model="user.lastname" />
                </md-input-container>
                
                <md-input-container class="fusion-account-input">
                    <label translate="ACCOUNT.LANGUAGE"></label>
                    <md-select ng-model="user.language" placeholder="{{'ACCOUNT.LANGUAGE' | translate }}">
                        <md-option ng-repeat="language in languages" value="{{language}}">
                            {{language}}
                        </md-option>
                    </md-select>
                </md-input-container>
                
                <md-input-container class="fusion-account-input">
                    <label translate="ACCOUNT.USER_GROUP"></label>
                    <md-select ng-model="user.usergroup" placeholder="{{'ACCOUNT.USER_GROUP' | translate }}" disabled>
                        <md-option ng-repeat="group in userGroups" value="{{group}}">
                            {{group}}
                        </md-option>
                    </md-select>
                </md-input-container>

            </div>

            <div flex-xs="100" flex-gt-xs="50" layout="column" sty>
                
                <div style="text-align: center">
                    <h3 translate="ACCOUNT.SECURITY_FIELDS_TITLE"></h3>
                </div>                

                <md-input-container class="fusion-account-input" ng-class="forcePasswordChange()">
                    <label translate="ACCOUNT.PASSWORD"></label>
                    <input type="password" ng-model="NewPassword1" />
                </md-input-container>
                
                <md-input-container class="fusion-account-input" ng-class="forcePasswordChange()">
                    <label translate="ACCOUNT.PASSWORD_CONFIRM"></label>
                    <input type="password" ng-model="NewPassword2"/>
                </md-input-container>
                
                <md-input-container class="fusion-account-input">
                    <label translate="ACCOUNT.SECURITY_QUESTION"></label>
                    <md-select ng-model="NewSecurityQuestion" placeholder="{{'ACCOUNT.SECURITY_QUESTION' | translate }}">
                        <md-option ng-repeat="question in securityQuestions" value="{{question}}">
                            <div translate="{{question}}"></div>
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="fusion-account-input">
                    <label translate="ACCOUNT.SECURITY_ANSWER"></label>
                    <input type="text" ng-model="NewSecurityAnswer"/>
                </md-input-container>

                <div flex></div>

                <div layout="row">
                    <md-button flex="50" class="md-accent md-raised"  ng-click="returnToPrevious()" ng-disabled="stopNavigation()" translate="ACCOUNT.CANCEL"></md-button>
                    <md-button flex="50" class="md-primary md-raised" type="submit" translate="ACCOUNT.UPDATE"></md-button>
                </div>

            </div>

        </md-content>

    </form>

</div>
