<md-toolbar ng-controller="headerCtrl">

    <div class="md-toolbar-tools fusion-header-toolbar">

        <md-button class="fusion-header-button" aria-label="Fusion Menu" ng-disabled="!userLoggedIn()" ng-click="openFusionMenu()">
            <i class="fas fa-bars fa-2x"></i>
        </md-button>

        <md-button class="fusion-header-logo" ng-disabled="!userLoggedIn()" ng-click="navigateHome()" aria-label="Home">
            <span style="font-weight: 600;">Mimio</span>
            <span style="font-weight: 200;">MyBot</span>
        </md-button>

        <div class="fusion-header-title" md-truncate flex>| {{ appData.CurrentPageTitle | translate }} |</div>

        <md-menu hide-xs md-offset="0 50">
            <md-button class="fusion-header-button" aria-label="Current Language" ng-click="openLanguageMenu($mdOpenMenu, $event)">
                <div ng-bind="selectedLanguage()" style="text-decoration: underline;"></div>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="language in supportedLanguages">
                    <md-button ng-click="changeLanguage(language)" translate-language="{{language}}" translate="LANGUAGE" aria-label="{{language}}"></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button hide-xs class="header-battery fusion-header-button" aria-label="Battery" ng-disabled="!userLoggedIn()" ng-click="showBatteryDetails(ev)">
            <i class="fas fa-battery-empty fa-2x"></i>
        </md-button>

        <md-button hide-xs class="header-internet fusion-header-button" aria-label="Internet" ng-disabled="!userLoggedIn()" ng-click="showInternetDetails(ev)">
            <i class="fas fa-exclamation-triangle fa-2x"></i>
        </md-button>

        <md-button hide-xs class="header-wifi fusion-header-button" aria-label="Classroom Server" ng-disabled="!userLoggedIn()" ng-click="showWifiDetails(ev)">
            <i class="fas fa-unlink fa-2x"></i>
        </md-button>

        <md-button hide-xs class="header-program fusion-header-button" aria-label="Running Program" ng-disabled="!userLoggedIn()" ng-click="showProgramDetails(ev)">
            <i class="fas fa-stop fa-2x"></i>
        </md-button>

        <md-menu hide-xs md-position-mode="target-right target" md-offset="0 50">
            <md-button class="fusion-header-button" aria-label="Power Menu" ng-disabled="!userLoggedIn()" ng-click="openPowerMenu($mdOpenMenu, $event)">
                <i class="fas fa-power-off fa-2x"></i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="logout()" aria-label="Logout">
                        <div layout="row" flex>
                            <p flex translate="HEADER.LOGOUT"></p>
                            <i class="fa fa-sign-out-alt fusion-power-option-icon"></i>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="powerOff()" aria-label="Power off">
                        <div layout="row" flex>
                            <p flex translate="HEADER.POWER_OFF"></p>
                            <i class="fa fa-power-off fusion-power-option-icon"></i>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="restart()" aria-label="Restart">
                        <div layout="row" flex>
                            <p flex translate="HEADER.RESTART"></p>
                            <i class="fa fa-sync fusion-power-option-icon"></i>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </div>

</md-toolbar>
