<!-- Register.html -->

<div style="max-width:800px;margin-left:auto;margin-right:auto" class="w3-margin-top">
    
    <form name="form" role="form" ng-submit="registerUser()" class="w3-container w3-white w3-padding w3-card-4">

        <div class="row">

            <div class="col-sm-6">

                <div class="panel panel-info w3-card-4">
                    <div class="panel-heading">Required Fields</div>
                    <div class="panel-body">

                        <div clas="form-group">
                            <label>Username *</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="UserName" required/>
                            </div>
                            <br>
                        </div>

                        <div clas="form-group">
                            <label>Password *</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" ng-model="Password" required/>
                            </div>
                            <br>
                        </div>

                        <div clas="form-group">
                            <label>Confirm Password *</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" ng-model="Password2" required/>
                            </div>
                            <br>
                        </div>

                        <div clas="form-group">
                            <label>User Group *</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                                <select name="usergroup" class="form-control" ng-model="UserGroup" ng-options="x for x in userGroups" required></select>
                            </div>
                            <br>
                        </div>

                        <div clas="form-group">
                            <label>Security Question *</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-question" aria-hidden="true"></i></span>
                                <select name="cars" class="form-control" ng-model="SecurityQuestion" ng-options="x for x in securityQuestions" required></select>
                            </div>
                            <br>
                        </div>

                        <div clas="form-group">
                            <label>Security Answer *</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="SecurityAnswer" required/>
                            </div>
                            <br>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="panel panel-default w3-card-4">
                    <div class="panel-heading">Optional Fields</div>
                    <div class="panel-body">

                        <div clas="form-group">
                            <label>Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                <input type="email" class="form-control" ng-model="Email" />
                            </div>
                            <br>
                        </div>

                        <div clas="form-group">
                            <label>First Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="FirstName" />
                            </div>
                            <br>
                        </div>

                        <div clas="form-group">
                            <label>Last Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="LastName" />
                            </div>
                            <br>
                        </div>

                        <div clas="form-group">
                            <label>Language</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-language" aria-hidden="true"></i></span>
                                <select name="langages" class="form-control" ng-model="Language" ng-options="x for x in languages"></select>
                            </div>
                            <br>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="btn-group btn-group-justified w3-card-4">
            <a ui-sref="login" class="btn btn-default">Cancel</a>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </form>

</div>
